#texte{
    outline-color: #EB017D;
    background:#AFB4ED;
    color: #FFFFFF;
    font-size: 18px
}
form button{
    background: #01EB82;
    width: 200px;
    height: 40px;
}
form button:hover{
    background:#EB017D
} 
h2{
    background :#01EB82;
}
.container{
    background: #E9EB01
}
