#texte{
    outline-color: #EB017D;
    background:#AFB4ED;
    color: #FFFFFF;
    font-size: 18px
}
form button{
    
    width: 250px;
    height: 50px;
    font-size:18px;
    background:#EB017D
}
form button:hover{
    background: #02EB82;
} 
h2{
    background :#01EB82;
}
.container{
    background: #E9EB01
}
